* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    color: white;
}

nav{
    width: 100%;
    padding: 1rem 4%;
    background: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(61, 32, 255, 0.1);
    box-shadow: 0 0 10px #5a2d82;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 80px;
    height: auto;  
    margin-left: 1rem;
} 
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links li a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    position: relative;
    font-size: 1.1rem;
    transition: 0.3s;
}
.nav-links li a:hover {
    color:#1e3a5f;
    text-shadow: 0 0 10px #1e3a5f;
}
.btns {
    display: flex;
}
.hero-section {
    min-height: 80vh;
    background: white;
    display: flex;
}
.hero-content {
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;    
}
hero-text {
    flex: 1;
}
.hero-text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: #000000;
    text-shadow: 0 0 12px rgba(255,255,255,0.25);
}
.hero-text .highlight {
    color: #855efa;
    text-shadow: 0 0 0.5px #201e20;
}
.hero-text p {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #000000;
    font-weight: 500;
}
.hero-image {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
}
.hero-image img{
    width: 600px;
    max-width: 100%;
}
.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.hero-buttons .btn-start {
    border-radius: 30px;
    background: #8385fd;
    box-shadow: 0 0 10px #5a2d82;
    color: rgb(255, 255, 255);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}
.hero-buttons .btn-start:hover {
    background: #7e38ff;
    text-shadow: 0 0 10px #6819f9;
}
.hero-buttons .btn-learn {
    border-radius: 30px;
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #8385fd;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}
.hero-buttons .btn-learn:hover {
    background: #8385fd;
    color: white;
    text-shadow: 0 0 10px #8385fd;
}